.container h1 {
  font-size: 3rem;
  margin-top: 0;
}

.container h2 {
  font-size: 2rem;
}

.container button {
  background: #33d433;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 1.5rem;
}

.container .button2 {
  background: #d6201a;
  color: #ddd;
}

.header {
  height: 200px;
  background: #ff6600;
  padding: 40px 0 0;
  text-align: center;
}

.body {
  background: #4c4c4c;
  height: 100vh;
  text-align: center;
  padding-top: 40px;
}

.version {
  position: absolute;
  bottom: 0;
  left: 15px;
  opacity: 0.5;
}

.versionOutOfDate {
  position: absolute;
  bottom: 30px;
  left: 15px;
  background-color: #d6201a;
  padding: 5px 10px;
  border-radius: 3px;
}

.walletAddressInput {
  font-size: 1.2rem;
}
