@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232c39;
  /* background-image: linear-gradient(to bottom, #ff6600 200px, #4c4c4c 200px, #4c4c4c); */
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
}

h2 {
  margin: 0 0 10px;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
